
:root {
  --box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f3f6f9;
}
nav {
  box-shadow: var(--box-shadow);
  background-color: #fff;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}
.nav-underline .nav-link.active,
.nav-underline .show > .nav-link {
  color: #0d6efd !important;
  padding: 1rem 2rem !important;
  font-size: large;
}
.nav-underline .nav-link,
.nav-underline .show > .nav-link {
  color: #d3d3d3 !important;
  padding: 1rem 2rem !important;
  font-size: large;
  font-weight: bold;
}
.nav-link:hover {
  color: #000 !important;
}
.navbar-brand {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  padding: 0;
}
.offcanvas-body {
  justify-content: right;
}

.portfolio-detail-section h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 1.5rem;
}
.only-view-sp {
  display: none;
}
.only-view-pc {
  display: block;
}

/* skills.css profiles.css services.css contact.css */
section {
  padding: 90px 0 !important;
}

.table {
  width: 100%;
  margin: auto;
}

.table ul li {
  list-style: none;
  margin-left: -32px;
}
.footer-fixed-bottom {
  height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
}
footer {
  margin-top: auto !important;
  background-color: #dcdcdc !important;
  color: #888 !important;
  width: 100% !important;
  font-size: large !important;
}

@media screen and (max-width: 990px) {
  .navbar {
    padding: 12px 0 !important;
  }
  .nav-link.active {
    color: #0d6efd !important;
    font-size: large !important;
    font-weight: bold !important;
  }
  .nav-link {
    color: #d3d3d3 !important;
    font-weight: bold !important;
  }
  .offcanvas-header {
    background-color: #dfeff3 !important;
  }
  .only-view-pc {
    display: none !important;
  }
  .only-view-sp {
    display: flex;
    width: 100%;
  }
  .navbar-toggler {
    margin-left: 2.5rem;
  }
  .footer-fixed-bottom {
    height: 100vh !important;
    display: flex !important;
    flex-direction: column !important;
  }
  footer {
    margin-top: auto !important;
    background-color: #dcdcdc !important;
    color: #888 !important;
    width: 100% !important;
    font-size: large !important;
  }
}
